body {
    font-family: 'Press Start 2P', cursive;
    background-color: #FAF9F3;
    color: #54627F;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2; /* เพิ่มระยะห่างระหว่างบรรทัด */
}
p {
    margin-bottom: 15px; /* เพิ่มระยะห่างด้านล่างของย่อหน้า */
}
img {
    max-width: 50px;
    height: 50px;
    border: 2px solid #54627F;
}
.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #8fd8f0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8fd8f0;
    background: #444;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: #8fd8f0;
    color: #000;
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    text-shadow: 2px 2px #cdf5eb;
}

section {
    background: #222;
    padding: 15px;
    border: 3px solid #8fd8f0;
    margin-bottom: 20px;
    box-shadow: 4px 4px 0px #4195cc;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #8fd8f0;
}
